@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@keyframes _knit_slow_blink{
	0%{opacity:1;}
	100%{opacity:0;}
}
@keyframes _knit_scroll{
	0%{transform:translateX(100vw);}
	100%{transform:translateX(-100%);}
}
@keyframes _knit_pulsation{
	0%{
		opacity:1;
	}
	100%{
		opacity:0.5;
	}
}
body{
	font-family:'Noto Sans JP',sans-serif;
	display:flex;
	flex-direction:column;
	min-height:100vh;
	overflow-x:hidden;
	margin:0;
}
header{
	background-color:black;
	color:white;
}
footer{
	background-color:lightgray;
	color:dimgray;
	text-align:center;
	border-top:solid 2px dimgray;
	margin-top:auto;
}
noscript{text-align:center;}
a[href]:link{
	background-color:black;
	color:cyan;
}
a[href]:visited{color:plum;}
a[href]:hover{
	background-color:cyan;
	color:black;
	transition:color 0.5s ease-in-out,background-color 0.5s ease-in-out;
}
a[href]:active{
	color:red;
	transition:color 0s ease-in-out,background-color 0s ease-in-out;
}
h1{
	font-size:250%;
	margin:0;
}
ul{
	list-style:none;
	padding-left:0;
}
li{
	background-color:powderblue;
	padding:0.5em;
	margin:0.25em;
	border-radius:10px;
}
textarea{resize:none;}
footer div a[href]:link{
	background-color:rgba(0,0,0,0);
	color:blue;
}
footer div a[href]:visited{color:blue;}
footer div a[href]:hover{color:black;}
footer div a[href]:active{color:red;}
#_knit_header_top_line{
	position:absolute;
	top:0px;
	width:100vw;
	height:2em;
	animation:_knit_pulsation 4s ease-in-out 0s infinite alternate;
	transition:background-color 7.5s ease-in-out;
}
#_knit_header_top_line._knit_\#\#\#{background-color:gray;}
#_knit_header_top_line._knit_FAKE\!{background-color:red;}
#_knit_header_top_line._knit_prg{background-color:purple;}
#_knit_header_top_line._knit_prg:hover{background-color:hotpink;}
#_knit_header_top_line._knit_sbm{background-color:dimgray;}
#_knit_header_top_line._knit_sbm:hover{background-color:black;}
#_knit_header_top_line._knit_sbm_sub2{background-color:dimgray;}
#_knit_header_top_line._knit_sbm_sub2:hover{background-color:black;}
#_knit_header_top_text{
	display:inline-block;
	animation:_knit_scroll 20s linear infinite;
	position:absolute;
	top:0;
	white-space:nowrap;
}
#_knit_header_name{
	font-size:2.5em;
	text-align:center;
	font-weight:bold;
	padding-top:0.5em;
}
#_knit_header_firstname{
	font-size:2em;
	vertical-align:bottom;
}
#_knit_header_period{animation:_knit_slow_blink 4s ease-in-out 0s infinite alternate;}
#_knit_content_wrapper{
	margin:1em;
	margin-top:0;
}
#_knit_content_wrapper div,#_knit_content_wrapper nav{
	margin-top:0.5em;
	margin-bottom:0.5em;
}
#_knit_path{
	color:gray;
}
#_knit_path a[href]{
	color:gray;
	background-color:unset;
}
._knit_table_of_contents{
	background-color:lightgray;
	border:solid 2px gray;
	display:inline-block;
	color:dimgray;
}
._knit_table_of_contents div{margin:0.5em;}
._knit_table_of_contents li{
	background-color:unset;
	padding:0;
}
._knit_table_of_contents a[href]{
	background-color:unset;
	color:dimgray;
}
._knit_purple_box{border:solid 3px purple;}
.center{text-align:center;}
.small{
	font-size:75%;
	color:gray;
}
.lime{color:lime;}
.ques{
	color:blue;
	font-size:200%;
	font-weight:bold;
}
.answer{
	color:red;
	font-size:150%;
}
.separator{
	margin-top:2em!important;
	margin-bottom:2em!important;
}
.bold{font-weight:bold;}
