body{
	background-color:black;
	color:white;
}
form{text-align:center;}
table{
	text-align:center;
	margin:auto;
	border-collapse:collapse;
}
#data_status{
	text-align:center;
	font-size:75%;
}
td{
	border:solid 1px white;
	padding-left:1em;
	padding-right:1em;
}
td div{
	margin:0!important;
	white-space:nowrap;
}
.date_div{width:2.5vw;}
.right_none{border-right:none;}
.left_none{border-left:none;}
.title_div{width:25vw;}
.channel_div{width:10vw;}
.type_div{width:5vw;}
.url_div{width:10vw;}
.small_space{height:0.5em;}
.space{height:1.5em;}
.bold{
	font-style:italic;
	font-weight:bold;
}
.imitation{color:limegreen;}
.teiki{color:tomato;}
.other{color:yellow;}
.link{font-size:75%;}
.shorten{transform-origin:0px;}
